<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
<form ng-submit="myCtrl.handleLoginBtnClick()" role="form" ng-init="loginForm = {}">
    <div class="form-group">
        <label>Email</label>
        <input placeholder="email" type="email" name="email" ng-model="myCtrl.attributes.email" required="required" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input <input placeholder="senha" type="password" name="password" ng-model="myCtrl.attributes.password" required="required" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
</form>
</div>
</div>
<!--<div class="row">-->
    <!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
        <!--<h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>-->
        <!--<div class="account-wall">-->
            <!--&lt;!&ndash;<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"&ndash;&gt;-->
                 <!--&lt;!&ndash;alt="">&ndash;&gt;-->
            <!--<form class="form-signin">-->
                <!--<input type="text" class="form-control" placeholder="Email" required autofocus>-->
                <!--<input type="password" class="form-control" placeholder="Password" required>-->
                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">-->
                    <!--Sign in</button>-->
                <!--<label class="checkbox pull-left">-->
                    <!--<input type="checkbox" value="remember-me">-->
                    <!--Remember me-->
                <!--</label>-->
                <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
            <!--</form>-->
        <!--</div>-->
        <!--<a href="#" class="text-center new-account">Create an account </a>-->
    <!--</div>-->
<!--</div>-->